.about{
    width: 100%;
    position: absolute;
    top: 120px;
    display: flex;
    flex-flow: column;
    align-items: center;

    &__img{
        width: 300px;
        aspect-ratio: 1.2;
         & img{
            height: 100%;
            width: 100%;
            object-fit: contain;
         }
    }
}